    body > .grid {
      height: 100%;
    }

    .ui.grid {
      margin-top: 4rem;
    }

    .column {
      max-width: 450px;
    }
    
    .ui.inverted.vertical.masthead.center.aligned.segment.login {
      background-image: url('http://i.imgbox.com/dZkiWhwE.jpg');
    }
